@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&diplay=swap');

body.home-page {
	background: #07191c;
	background-size: cover;
	font-family: Arial, sans-serif;
	display: flex; 
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
}

/* DISEÑO DE NAVBAR*/

.custom-header {
    background-color: #000000ee; /* Cambia el color de fondo del header según tu diseño */
    padding: 18px; /* Ajusta el relleno según sea necesario */
}

.custom-title {
    color: #138a9e; /* Cambia el color del texto del h5 según tu diseño */
    font-size: 30px !important;
    font-weight: bold !important;
}

.custom-button {
    background-color: #20a2b0; /* Cambia el color de fondo del botón según tu diseño */
    border-color: #20a2b0; /* Cambia el color del borde del botón según tu diseño */
}

.custom-button:hover {
    color: #fff; /* Cambia el color del texto del botón en hover según tu diseño */
    background-color: rgb(107, 217, 228); /* Cambia el color de fondo del botón en hover según tu diseño */
    border-color: rgb(107, 217, 228); /* Cambia el color del borde del botón en hover según tu diseño */
}


/* Estilos personalizados */
.shopcart-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto; /* Empuja el contenedor a la derecha */
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}

.product-count {
    position: absolute;
    top: -10px; /* Ajusta según sea necesario */
    right: -10px; /* Ajusta según sea necesario */
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px; /* Ajusta el tamaño según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; /* Ajusta el tamaño de la fuente según sea necesario */
}

.svg-icon-link {
    position: relative;
}

.notification-container {
    position: relative;
    display: inline-block;
    margin-left: auto; /* Empuja el contenedor a la derecha */
    margin-right: -52%;
}

.notification-link {
    position: relative;
}

.notification-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-link svg {
    width: 40px;
    height: 40px;
}

.image-container {
	width: 95%;
}

.image-container img {
	max-width: 18%; /* Reduce el valor a 25% o el tamaño que prefieras */
	border-radius: 10px;
}

.navbar-custom {
    background-color: #0d5966 !important; /* Color verde personalizado */
}

.user-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000ee; /* Ajusta el color de fondo según tu diseño */
    padding: 25px; /* Ajusta el relleno según sea necesario */
}


.offcanvas-body-custom{
    background-color: #012f38 !important;
}



.fondo-custom{
	background: #07191c !important;
}


.letra{
	color: white !important;
	font-weight: bold !important;
	font-size: 16px !important;
}

.letra2{
	color: #138a9e !important;
	font-weight: bold !important;
	font-size: 22px !important;
}



.input {
  display: flex !important;
  flex-direction: column !important;
  width: 350px;
  background-color: #07191c !important;
  justify-content: center !important;
  border-radius: 0px !important;
  transition: 1s !important;
  padding: 10px !important;
  overflow: hidden !important;
}

.value {
  font-size: 14px !important;
  font-weight: bold !important;
  background-color: transparent !important;
  border: none !important;
  padding: 10px !important;
  color: white!important;
  display: flex !important;
  position: relative !important;
  gap: 5px !important;
  cursor: pointer !important;
  border-radius: 10px !important;
  transition: 1s !important;
  box-sizing: border-box !important;
}

.value:not(:active):hover,
.value:focus {
  display: flex !important;
  box-sizing: border-box !important;
  border: 2px solid #1a1f24!important;
  color: #637185 !important;
}

.value:focus,
.value:active {
  background-color: #1a1f24 !important;
  outline: none !important;
  margin-left: 17px !important;
}

.value::before {
  content: "" !important;
  position: absolute !important;
  top: 5px !important;
  left: -15px !important;
  width: 5px !important;
  height: 80% !important;
  background-color: #2f81f7 !important;
  border-radius: 5px !important;
  opacity: 0 !important;
  transition: 1s !important;
}

.value:focus::before,
.value:active::before {
  opacity: 1 !important;
}


.input:hover > :not(.value:hover) {
  transition: 300ms !important;
  filter: blur(1.5px)!important;
  transform: scale(0.95, 0.95)!important;
}


/* PRODUCTOS*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
    justify-content: space-around; /* Distribuye uniformemente los elementos en cada línea */
    gap: 20px; /* Espacio entre las cartas */
}

.card{
	position: relative;
	width: 300px;
	height: 380px;
	background: #000;
	box-shadow: 0 15px 45px rgba(0,0,0,0.1);
	display: flex;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	margin-bottom: 20px; /* Espacio entre las filas */
	margin-left: 40px;
	margin-right: 40px;
}

.card:hover{
	width: 600px;
}

.card .imgBx{
	position: relative;
	min-width: 300px;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.card .imgBx img{
	max-width: 250px;
	transition: 0.5s ease-in-out;
}

.card:hover .imgBx img{
	transform: rotate(-20deg);
}

.card .details{
	position: relative;
	width: 300px;
	height: 100%;
	background: #0d5966;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	padding: 20px ;
	flex-direction: column;
}

.card .details::before{
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #fff;
}

.card .details h3{
	color : #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1em;
}

.card .details h3 span{
	font-size: 0.65em;
	font-weight: 300 ;
	text-transform: none;
	opacity: 0.85;
}

.card .details h4{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9em;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1em;
}

.card .details p{
	color: #fff;
	opacity: 0.85;
	font-size: 0.8em;
}

.card .details .group{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.card .details .group h2{
	color: #fff;
	font-weight: 600;
	font-size: 2em;
}

.card .details .group h2 sup{
	font-weight: 300;
}

.card .details .group h2 small{
	font-size: 0.75em;
}

.card .details .group a{
	display: inline-flex;
	padding: 10px 25px;
	background: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 620;
	color: #0d5966;
	margin-left: 10px; /* Mueve el enlace a la derecha */
}
